* {
  margin: 0px; }

body {
  background-color: #262626; }

#page {
  width: 100%;
  height: 100%;
  overflow: auto; }

#left {
  height: 100%;
  width: 10em;
  float: left;
  border-right: solid 5px #141514;
  background-color: #2c302d;
  margin: 0px 10px 0px 0px;
  font-family: Tangerine, cursive;
  font-weight: bold;
  text-shadow: 2px 2px 2px #1c201d; }
  #left #link {
    margin: 15px 0px 15px 10px; }
    #left #link a {
      font-size: 30px;
      color: #82a282;
      text-decoration: none; }

#content {
  font-family: merlano, sans-serif;
  font-size: 14pt;
  margin: auto;
  padding: 10px 10px 10px 10px;
  color: #dcdccc; }
