* {
  margin: 0px;
}

body {
  background-color: #262626;
}

#page {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#left {
  $color: #2c302d;
  $border-style: solid 5px darken($color, 10%);

  height: 100%;
  float: left;
  border-right: $border-style;
  background-color: $color;

  margin: 0px 10px 0px 0px;

  text-shadow: 2px 2px 2px #1c201d;

  width: 200px;

  #section_header:first-child {
    margin-top: 15px;
  }

  #section_header {
    color: white;
    font-family: Tangerine, cursive;
    font-weight: bold;
    font-size: 40px;
    margin: 25px 0px 10px 10px;
  }

  #link {
    font-family: merlano, sans-serif;
    font-size: 20px;
    margin: 5px 0px 5px 30px;
  }
}

a {
  color: #82a282;
  text-decoration: none;
}

#header {
  $color: #3f3f3f;
  height: 70px;

  font-family: Tangerine, cursive;
  font-weight: bold;
  font-size: 70px;
  text-shadow: 3px 3px 3px #1c201d;

  margin: auto;
  padding: 10px 10px 10px 10px;

  color: white;
  background-color: $color;
  border-bottom: solid 5px lighten($color, 10%);
}

#content {
  $text-color: #dcdccc;

  font-family: merlano, sans-serif;
  font-size: 14pt;

  margin: auto;
  padding: 10px 10px 10px 10px;

  color: $text-color;
}
