%html
  %head
    %title Locus Nullus
    %meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
    %link(href="http://fonts.googleapis.com/css?family=Tangerine:bold&amp;subset=latin" media="screen" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Orbitron:bold" rel="stylesheet" type="text/css")
    %link(rel="stylesheet" href="app.css")
    %script(type="text/javascript" src="mixpanel.js")
    %script(type="text/javascript" src="app.js")

  %body
    #page 
      #left
        #link
          %a(title="Curriculum Vitae" href="https://github.com/Nemo157/CV/raw/master/cv.pdf") CV
        #link
          %a(title="Twitter" href="http://twitter.com/#!/Nemo157") Twitter
        #link
          %a(title="Github Profile" href="https://github.com/Nemo157") Github
        #link
          %a(title="Google+ Profile" href="https://plus.google.com/u/1/107593618072629239808") Google+
        #link
          %a(title="StackOverflow Profile" href="http://bit.ly/stack-nemo") StackOverflow
        #link
          %a(title="Careers 2.0 Profile" href="http://careers.stackoverflow.com/nemo157") Careers 2.0

      #header Locus Nullus

      #content
        :markdown
          About Me
          ========

          Eventually I may get around to putting something here, for now
          visiting my [Google+ profile][] will probably be the best place.

          [Google+ profile]: https://plus.google.com/u/1/107593618072629239808 "Google+ Profile"
