%html
  %head
    %title Locus Nullus
    %meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
    %link(href="http://fonts.googleapis.com/css?family=Tangerine:bold&amp;subset=latin" media="screen" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Orbitron:bold" rel="stylesheet" type="text/css")
    %link(rel="stylesheet" href="app.css")
    %script(type="text/javascript" src="mixpanel.js")
    %script(type="text/javascript" src="ga.js")
    %script(type="text/javascript" src="app.js")

  %body
    #page
      #left
        #section_header Blog
        #link
          %a(title="Blog" href="http://blog.nemo157.com")
            %img(src="images/blog.nemo157.com.png")
            Nusquam
        #section_header Social
        #link
          %a(title="Twitter" href="http://twitter.com/#!/Nemo157")
            %img(src="images/twitter.com.png")
            Twitter
        #link
          %a(title="Google+ Profile" href="https://plus.google.com/+WimLooman")
            %img(src="images/plus.google.com.png")
            Google+
        #link
          %a(title="Facebook Profile" href="https://facebook.com/Nemo157")
            %img(src="images/facebook.com.png")
            Facebook

        #section_header Media
        #link
          %a(title="Steam Profile" href="https://steamcommunity.com/id/Nemo157")
            %img(src="images/steamcommunity.com.png")
            Steam
        #link
          %a(title="last.fm Profile" href="https://www.last.fm/user/Nemo157_")
            %img(src="images/last.fm.png")
            Last.fm
        #link
          %a(title="trakt.tv Profile" href="https://trakt.tv/user/Nemo157")
            %img(src="images/trakt.tv.png")
            Trakt.tv
        #link
          %a(title="Goodreads Profile" href="https://www.goodreads.com/Nemo157")
            %img(src="images/goodreads.com.png")
            Goodreads
        #link
          %a(title="BookLikes Profile" href="http://nemo157.booklikes.com")
            %img(src="images/booklikes.com.png")
            BookLikes

        #section_header Technical
        #link
          %a(title="Github Profile" href="https://github.com/Nemo157")
            %img(src="images/github.com.png")
            Github
        #link
          %a(title="StackExchange Profile" href="http://stackexchange.com/users/95748/nemo157")
            %img(src="images/stackexchange.com.png")
            StackExchange

        #section_header Other
        #link
          %a(title="Careers 2.0 Profile" href="http://careers.stackoverflow.com/nemo157")
            %img(src="images/blank.png")
            Careers 2.0
        #link
          %a(title="Curriculum Vitae" href="https://github.com/Nemo157/CV/raw/master/cv.pdf")
            %img(src="images/blank.png")
            CV

      #header Locus Nullus

      #content
        :markdown
          Homepage for [Wim Looman](mailto:ghostunderscore@gmail.com), a
          software engineer currently working at [Telogis](http://telogis.com).

          Eventually I may get around to putting something here, for now
          visiting the profiles linked on the left would be best.
